html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #f7f7f7;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

#navbar {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #007BFF;
	padding: 10px 0;
	z-index: 10;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	align-items: center;
}

.nav-content {
	width: 80%;
	margin: 0 auto;
	color: white;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
}

#changeColorBtn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: white;
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	transition: background-color 0.2s, transform 0.2s;
	cursor: pointer;
	outline: none;
	margin-right: auto;
}

#changeColorBtn:hover {
	background-color: rgba(255, 255, 255, 0.2);
	transform: translateY(-2px);
}

#changeColorBtn:active {
	background-color: rgba(255, 255, 255, 0.3);
	transform: translateY(0);
}

h1 {
	font-size: 1.5em;
	color: #333;
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
}

#rgbStringToGuess {
	font-size: 1.7em;
	font-weight: 600;
	color: #007BFF;
	padding: 0 10px;
	border-radius: 4px;
	background-color: #f1f1f1;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
	display: flex;
	justify-content: space-around;
	width: 300px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

.option {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin: 10px;
	transition: transform 0.2s;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.option:hover {
	transform: scale(1.1);
}

#feedback {
	color: #777;
	font-size: 1.2em;
	margin-top: 20px;
}