html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #f7f7f7;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#startPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f7f7f7;
	z-index: 1;
}

#startPage h2 {
	font-size: 1.8em;
	color: #333;
	margin-bottom: 20px;
}

#startPage button {
	background-color: #007BFF;
	border: 1px solid black;
	color: white;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 4px;
	font-size: 1.2em;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
	box-shadow: 1px 0 2px  black;
	text-shadow: 1px 0  rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.2), 0 1px  rgba(0, 0, 0, 0.2), 0 -1px  rgba(0, 0, 0, 0.2);
}

#startPage button:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}

#startPage button:active {
	transform: translateY(1px);
}

#app {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: min-content;
}

#navbar {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #007BFF;
	padding: 10px 0;
	z-index: 10;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	align-items: center;
}

.nav-content {
	width: 80%;
	margin: 0 auto;
	color: white;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 0  rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.2), 0 1px  rgba(0, 0, 0, 0.2), 0 -1px  rgba(0, 0, 0, 0.2);
}

#changeColorBtn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: white;
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	transition: background-color 0.2s, transform 0.2s;
	cursor: pointer;
	outline: none;
	margin-right: auto;
	text-shadow: 1px 0  rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.2), 0 1px  rgba(0, 0, 0, 0.2), 0 -1px  rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0  rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.5), 0 1px  rgba(0, 0, 0, 0.5), 0 -1px  rgba(0, 0, 0, 0.5);
}

#changeColorBtn:hover {
	background-color: rgba(255, 255, 255, 0.2);
	transform: translateY(-2px);
}

#changeColorBtn:active {
	background-color: rgba(255, 255, 255, 0.3);
	transform: translateY(0);
}


#bestScore {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #333;
}

#score {
	position: fixed;
	margin-top: 320px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #333;
}

h1 {
	font-size: 1.3em;
	margin-top: -10px;
	color: #333;
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
}

#rgbStringToGuess {
	font-size: 1.8em;
	font-weight: 600;
	color: #007BFF;
	border-radius: 4px;
	background-color: #f1f1f1;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	text-shadow: 1px 0  rgba(0, 0, 0, 0.5), -1px 0 rgba(0, 0, 0, 0.5), 0 1px  rgba(0, 0, 0, 0.5), 0 -1px  rgba(0, 0, 0, 0.5);
}

.container {
	display: flex;
	justify-content: space-around;
	width: 300px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

.option {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin: 10px;
	transition: transform 0.2s;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.option:hover {
	transform: scale(1.1);
}

#feedback {
	color: #777;
	font-size: 1.2em;
	margin-top: 10px;
}

#timer {
	color: red;
	font-weight: bold;
}

#restartButton {
	display: none;
	justify-content: center;
	background-color: #007BFF;
	border: 1px solid black;
	color: white;
	padding: 10px 20px;
	margin: auto;
	margin-top: 30px;
	border-radius: 4px;
	font-size: 1.2em;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
	box-shadow: 1px 0 2px  black;
	text-shadow: 1px 0  rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.2), 0 1px  rgba(0, 0, 0, 0.2), 0 -1px  rgba(0, 0, 0, 0.2);
}

#restartButton:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}

#restartButton:active {
	transform: translateY(1px);
}
